@inherits LayoutComponentBase

@* Application header. In a real app this would likely be a separate component *@
<div class="shadow-lg bg-white py-6 sticky top-0">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-gray-700 outline-none">Fake Game</h1>
    </div>
</div>

<div class="container mx-auto px-4 mt-6">
    <main>
        @* CascadingUserContext passes down User instance to all descendant components *@
        <CascadingUserContext>
            @Body
        </CascadingUserContext>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
