@inject PlayerDashboard.Data.IPlayerRepository PlayerRepository

<Panel Title="Recent Gaming Sessions">
    @if (_gameSessions != null)
    {
        <div class="space-y-4">
            @foreach (var session in _gameSessions)
            {
                <GameSessionListItem GameSession="session" />
            }
        </div>
    }
    else
    {
        <Spinner />
    }
</Panel>

@code {
    [CascadingParameter]
    public required UserDto User { get; set; }

    private List<GameSessionDto>? _gameSessions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _gameSessions = await PlayerRepository.GetGameSessionsByPlayerIdAsync(User.PlayerId, 5);
    }
}
