@if (Player != null)
{
    <div class="flex items-center">
        <img src="https://cdn.jsdelivr.net/gh/alohe/memojis/png/3d_4.png" class="rounded-full border-2 border-gray-600 shadow" width="60" height="60" />
        <div class="ml-4">
            <h1 class="text-3xl font-bold">
                @Player.DisplayName<span>'s Profile</span>
            </h1>
            <div class="text-xl text-gray-800">
                Level: @Player.Level
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public PlayerDto? Player { get; set; }
}
